.snipcart {
  @apply font-sans text-base text-gray-800 font-normal;
}

.snipcart-modal,
.snipcart-modal__container,
.snipcart-cart__content,
.snipcart-cart-header,
.snipcart-featured-payment-methods__title {
  @apply bg-gray-50;
}

.snipcart__font--regular,
.snipcart__font--primary,
.snipcart__font--secondary,
.snipcart__font--subtitle {
  @apply font-sans leading-normal;
}

.snipcart__font--subtitle {
  @apply bg-coffee font-semibold text-lg md:text-xl;
}

.snipcart-cart-button--highlight {
  background-image: none;
  @apply bg-coffee rounded;
}

.snipcart__box--badge-highlight {
  background-image: none;
  @apply bg-coffee text-white font-medium;
}

.snipcart__actions--link {
  @apply text-coffee font-normal text-sm;
}

.snipcart-cart-summary-fees__notice {
  @apply text-sm text-gray-500 my-6;
}

.snipcart-shipping-rates-list-item--highlight {
  @apply border-coffee bg-white;
}

.snipcart-form-radio {
  @apply text-coffee border-gray-300 shadow-sm focus:ring-0 p-0;
}

.snipcart-form-radio + label {
  @apply text-gray-500 text-sm;
}

.snipcart-form-radio + label:before {
  background-image: none;
  @apply rounded-full w-4 h-4 min-w-0 min-h-0 shadow-sm flex items-center border border-gray-300 cursor-pointer;
}

.snipcart-form-radio:checked + label:before {
  background-image: none;
  @apply bg-coffee;
}

.snipcart-form-radio:checked + label:after {
  @apply hidden;
}

.snipcart-shipping-rates-list-item__price {
  @apply text-gray-900 text-sm leading-5;
}

/* "View detailes cart" hack */
.snipcart__icon--blue-dark path,
.snipcart__icon--blue-light path {
  fill: #9a5e32;
}

/* .snipcart-modal,
.snipcart-cart-header,
.snipcart-cart__secondary-header,
.snipcart-modal__container {
  @apply font-sans;
}

.snipcart-modal .snipcart-cart-header__close-button {
  @apply text-gray-500;
}

.snipcart-form__field {
  @apply pt-4;
}

.snipcart-input,
.snipcart-form__select {
  @apply w-full rounded-md shadow-sm bg-transparent focus:z-10 sm:text-sm text-gray-900 focus:ring-0 placeholder-gray-400 border-gray-300 focus:border-gray-300;
}

.snipcart-typeahead--invalid {
  @apply border-red-500;
}

.snipcart-error-message--input {
  @apply text-red-500;
}

.snipcart-cart-button--highlight {
  background: none;
  @apply py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-coffee hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

.snipcart__box--badge {
  @apply border-none bg-gray-50 text-blue-600;
}

.snipcart__box--badge-highlight {
  background: none;
  @apply font-sans bg-blue-600 text-white font-medium ring-offset-2 focus:ring-blue-500 border-none;
}

.snipcart__box {
  @apply bg-white;
} */

/* Animated Logo */
#logoWrap {
  padding: 5% 0 0 0;
  margin: 0;
  color: #170b0b;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#upperWrap {
  display: flex;
}

#upperWrap,
#lowerWrap {
  overflow: hidden;
  width: 310px;
}

#upperWrap {
  height: 35px;
  line-height: 35px;
}

#lowerWrap {
  height: 30px;
  line-height: 30px;
}
.c,
.first,
.second {
  line-height: 35px;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.c,
.first {
  font-size: 32px !important;
  font-weight: 700;
}

.c {
  padding-right: 1.5px;
}

svg#logoBean {
  height: 32px;
  width: 22px;
}

.first {
  padding-left: 1.5px;
}

.second {
  font-size: 32px !important; /* WP-Divi same as .c and .first */
  font-weight: 300;
  padding-left: 1.5px;
}

.not-found {
  text-align: center;
}
.not-found a {
  color: #9a5e32;
  text-decoration: underline;
  font-weight: 600;
}
